label {
    font-size: medium;
}

body {
    text-align: center;
}

.muuTextDiv {
    display: none;
    grid-template-columns: 200px 200px 200px 200px 200px;
    place-content: center;
    margin: 10px;

}

#muuBox:checked ~ .muuTextDiv {
    display: grid;
}

.muuText {
    visibility: hidden;
    margin: 10px;
}

#muuText1 {
    visibility: visible;
}

.muuText:not(:placeholder-shown) + .muuText {
    visibility: visible;
}