label {
    font-size: medium;
}

body {
    text-align: center;
}

.taukoDiv, .ajoDiv {
    display: none;
}

.taukoRadioDiv, .ajoRadioDiv {
    text-align: start;
}

.taukoButton, .ajoButton {
    text-align: start;
    margin-left: 40%;
}

#ajoBox:checked ~ .ajoDiv {
    display: block;
}

#taukoBox:checked ~ .taukoDiv {
    display: block;
}

.muuTextDiv {
    display: none;
    grid-template-columns: 200px 200px 200px 200px 200px;
    place-content: center;
    margin: 10px;

}

#muuBox:checked ~ .muuTextDiv {
    display: grid;
}

.muuText {
    display: none;
    margin: 10px;
}

#muuText1 {
    display: grid;
}

.muuText:not(:placeholder-shown) + .muuText {
    display: grid;
}